.job-apply-form input {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #c7c5c5;
  border-radius: 30px;
}

.job-apply-form label {
  color: rgb(104, 104, 104);
  font-size: 14px !important;
}

.job-apply-form textarea {
  border-radius: 10px;
}

.job-apply-form textarea:focus {
  outline: none;
}

.job-apply-form input[type="file"] {
  border: none !important;
}
