.footer-top-area input {
  position: relative;
  max-width: 100%;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ddd;
}

.footer-top-area input:focus {
  outline: none;
}

.subscribe {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 5;
  background-color: #e68045;
  padding: 10px 25px;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
